{% extends "base.html" %}

{% block todo_list %}
    <div class="center-column">

        <p>Are you sure you want to delete this <b>"{{ task }}"</b>?</p>

        <a class="btn btn-sm btn-info btn-widht-100" href="{% url 'list' %}">Cancel</a>

        <form method="POST", action=''>
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete Task">
        </form>
    </div>
{% endblock %}