{% extends "base.html" %}

{% block todo_list %}
    <div class="center-column">
        <form method="POST", action='/'>
            {% csrf_token %}
            {{ form.title }}
            <input class="btn btn-info" type="submit" value="Create Task">
        </form>
        {% for task in tasks %}
            <div class="item-row">
                <a class="btn btn-sm btn-info" href="{% url 'update-task' task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete-task' task.id %}">Delete</a>
                
                {% if task.is_complete == True %}
                    <strike>{{task}}</strike>
                {% else %}
                    <span>{{task}}</span>
                {%endif%}
            </div>
        {%endfor%}
    </div>
    
{% endblock %}
