{% extends "base.html" %}

{% block todo_list %}
    <div class="center-column">
        <form method="POST", action=''>
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-info" type="submit" value="Update Task">
        </form>
        
    </div>
    
{% endblock %}
